
.about-jens{

    padding-bottom: 5vh;
    text-align: center;


}






















.p-1{

    padding: .15rem !important;
}

.bio-row{
    padding: 1rem;
}



.bio-background{

    margin: auto;

    background-color: #D9D9D9;
}

/*.jens-image-co .jens-image-co{*/
/*    padding-top: 2em;*/
/*}*/

.title{

    padding-top: 5vh;

    text-align: center;
}
.jens-image{
    max-height: 15rem;
    width: 15rem;
    border-color: #8C5626 !important;
    background-color: #8C5626 !important;
}



/*.card-title{*/
/*    text-align: center;*/
/*    padding-top: 2em;*/
/*}*/

/*.card-text{*/
/*    text-align: center;*/
/*    padding: 4em;*/
/*}*/

.card{
    background-color: rgba(148, 101, 39, 1);
}



.contact-form{

    border: 1em red;


}

.jumbo{
    background-image: url("https://www.dropbox.com/s/yvo5rfg5rd91ped/HeaderImage.jpg?raw=1");
    background-size: cover;
    color: white;
    font-family: Monospaced;
    /*background-size: 50em 10em;*/
    background-repeat: no-repeat;
    margin-top: 5em; /*5em on previous one*/
}



.lead{
    align-items: center;
    margin-bottom: 0rem !important;

}

.jens-bio-co{

    font-family: Serif;
}