header{
    margin: 2em;
}

header h1{
    text-align: center;
    color: antiquewhite;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.box{
    height: auto;
    margin-left: auto;
    margin-right: auto;
}




li{
    opacity: 100;
}

.container-fluid{
    padding: 1em;
}

.figure-img{
    width: 100px;
    height: 100px;
}

.figure-caption{
    color: white;
}

.row h2{
    margin-bottom: 0em;
}

p{
    color: white;
}

li{
    color: white;
}

